<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                        <section name="Stand_Launchpad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <startup> 
                <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
        </startup>
        <userSettings>
                <Stand_Launchpad.Properties.Settings>
      <setting name="AutoInject" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomDll" serializeAs="String">
        <value />
      </setting>
      <setting name="Advanced" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InjectDll" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoInjectDelaySeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GameLauncher" serializeAs="String">
        <value>0</value>
      </setting>
    </Stand_Launchpad.Properties.Settings>
        </userSettings>
</configuration>